---
name: Publish

on: [workflow_dispatch]

jobs:
  main:
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: "Install pnpm"
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: "Setup Node LTS/Krypton"
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: "pnpm"

      - name: "Install Dependencies"
        run: pnpm install

      - name: "Build"
        run: pnpm run build

      - name: "Upload Artifact"
        uses: actions/upload-pages-artifact@v4
        with:
          path: "./.github/pages"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
